.container {
    width: 50%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input {
    border-color: #aaaaaa;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.input:nth-child(n+2) {
    font-size: 16px;
    padding: .7em;
}

textarea {
    border-radius: 5px;
}

.btn {
    padding: .7em;
    align-self: flex-end;
    width: 18%;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color:#5cb85c ;
    color: #fff;
}