.header {
    background-color: #F3F3F3;
}

.profile {
    width: 50%;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.link {
    align-self: flex-end;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 40%;
    margin: 0 auto;
}
.feeds {
    display: flex;
    gap: 2em;
}

.link {
    padding: 0 .5em;
    position: relative;
}

.link:focus {
    color: #5cb85c;
  }

.link::after {
  position: absolute;
  content: '';
  width: 100%;
  transform: translateX(-50%);
  bottom: -12px;
  left: 50%;
}

.link:focus::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid green;
}

.image {
    width: 100px;
    height: 100px;
}