.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
}

.author {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
}