.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #AAAAAA;
    margin-bottom: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    gap: 1em;
    align-items: center;
}

.author {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.tagList {
    display: flex;
    gap: .3em;
}

.tagItem {
    padding: .1em .5em;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
    font-size: 12.8px
}

.profile img {
    border-radius: 50%;
    height: 2rem;
}

.author a {
    color: #3D8B3D ;
    font-weight: bold;
}

.slug {
    font-size: 1.5em;
    color: #373A3C;
    font-weight: 600;
}